@import "functions";

/* Typo */
body, .navbar .brand {
	font-family: Lato,'sans-serif';
	font-weight: bold;
}

/* Some overriding */
.fancybox-lock {
	margin-right:0!important;
	
	.fancybox-overlay {
		overflow-x: hidden!important;
		overflow-y: hidden!important;
	}
}
.video-js.vjs-default-skin .vjs-big-play-button { 
	display: none!important; 
}

/* Style */
body {
	background-image:url('../images/bg.png');
	overflow: hidden;
	
	.navbar {
		.brand {
			color: white;
		}
	
		a.linkVlipp {
			margin-left: -12px;
			padding: 13px 0 7px;
			.vlipp {
				margin-left: 1px;
				margin-top: -4px;
				.opacity(0.7);
				
				&.hovered {
					.opacity(1);
				}
			}
		}
		.social {
			padding-top: 10px;
			&.first {
				padding-left: 15px;
			}
		}
		
		#arrows {
			text-align: center;
			float: none;
			color: #F4690C;
			padding-top: 4px;
			
			li {
				margin-top: 7px;
				margin-right: 16px;
				display: inline;
				zoom: 1;
				float: none;
				cursor: pointer;
				&:first-child {
					margin-left: 5px;
				}
				
				i {
					border: #F4690C 2px solid;
					border-radius: 6px;
					box-shadow: 2px 2px #F4690C;
					padding-top: 3px;
				}
			}
		}
	}
	
	#mapDiv {
		background-color: transparent;
		.opacity(1);
		position: relative;
		#map {
			max-height: 100%;
			width: auto;
			margin: 0 auto;			
		}
		
		#car {
			position: absolute;
			&.centre {
				.position(423px, 330px);
			}
		}
	}
	

	#video {
		max-width: 100%;
		max-height: 100%
		display: none;
	}	

   
   #popupDiv {
	position: absolute;
	display: table;
	top: 0;
	z-index: -1;
	
	#popupWrapper {
		display: table-cell;
		vertical-align: middle;
	#popup {
	    	position: relative;
			background-color: black;
			z-index: 100001;
			width: 67%;
			margin-left: -100%;
			margin-top: 100px;
			margin-bottom: 0;
			padding: 1% 0 100px 0;
			       
	       #innerWhite {
	           position: relative;
	           background-color: white;
	           width: 97%;
	           padding-top: 5%;
	           padding-bottom: 1%;
	           margin: auto;
	           .border-radius;
	           
	           #innerBlack {
	               position: relative;
	               background-color: black;
	               width: 81.5%;
	               margin-left: auto;
	               margin-right: auto;
	               .border-radius;
	               
	               #photo {
	               	width: 96%;
					margin: 2% 2%;
	               }
	           }
	       }
	       
	       #ko, #ok {
	       	cursor: pointer;
	       	position: relative;
	       	display: inline-block;
	       }
	       
	       #ko {
			float: left;
			margin-top: 10px;
			margin-left: 20px;
	       }
	       
	       #ok {
			float: right;
			margin-top: 13px;
			margin-right: 20px;
	       }
	       
	       #title, #subtitle {
			position: relative;
			text-align: center;
			font-weight: bolder;
			color: black;
	       }
	   }
	}    
	    
   }
	
}

