@import "functions";

/* Typo */
body, .navbar .brand {
	font-family: Lato,'sans-serif';
	font-weight: bold;
}

/* Style */
body {
	background-image:url('../images/bg.png');
	overflow: hidden;
	
	.navbar {
		.brand {
			color: white;
		}
	
		a.linkVlipp {
			margin-left: -12px;
			padding: 13px 0 7px;
			.vlipp {
				margin-left: 1px;
				margin-top: -4px;
				.opacity(0.7);
				
				&.hovered {
					.opacity(1);
				}
			}
		}
		.social {
			padding-top: 10px;
			&.first {
				padding-left: 15px;
			}
		}
		
		#arrows {
			margin-left: 60px;
			color: #F4690C;
			
			#left {
				margin-top: 13px;
				margin-right: -5px;
				margin-left: 5px;
			}
			#up {
				margin-top: 3px;
			}
			#down {
				margin-top: 21px;
				margin-left: -26px;
			}
			#right {
				margin-top: 13px;
				margin-left: -5px;
			}
		}
	}
	
	#mapDiv {
		background-color: transparent;
		.opacity(1);
		position: relative;
		#map {
			max-height: 100%;
			margin: 0 auto;			
		}
		
		#car {
			position: absolute;
			&.centre {
				.position(423px, 330px);
			}
		}
	}
	
	#videoDiv {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: table;
		
		.opacity(0);
	
		#videoContent {
			display: table-cell;
			vertical-align: middle;
			background-color: black;
			
			#videoWrapper {
				margin-left: auto;
				margin-right: auto;
				display: table;
			
				#video {
					max-width: 100%;
				}
				#ko {
					cursor: pointer;
					z-index: 1032;
					margin-left: -38px;
					margin-top: 5px;
					position: absolute;
					.opacity(0.8);
				}
			}
		}	
	}
	

   
   #popupDiv {
	position: absolute;
	display: table;
	top: 0;
	
	#popupWrapper {
		display: table-cell;
		vertical-align: middle;
	#popup {
	    	position: relative;
			background-color: black;
			z-index: 100001;
			width: 67%;
			margin-left: -100%;
			margin-top: 100px;
			margin-bottom: 0;
			padding: 1% 0 100px 0;
			       
	       #innerWhite {
	           position: relative;
	           background-color: white;
	           width: 97%;
	           padding-top: 5%;
	           padding-bottom: 1%;
	           margin: auto;
	           .border-radius;
	           
	           #innerBlack {
	               position: relative;
	               background-color: black;
	               width: 81.5%;
	               margin-left: auto;
	               margin-right: auto;
	               .border-radius;
	               
	               #photo {
	               	width: 96%;
					margin: 2% 2%;
	               }
	           }
	       }
	       
	       #ko, #ok {
	       	cursor: pointer;
	       	position: relative;
	       	display: inline-block;
	       }
	       
	       #ko {
			float: left;
			margin-top: 10px;
			margin-left: 20px;
	       }
	       
	       #ok {
			float: right;
			margin-top: 13px;
			margin-right: 20px;
	       }
	       
	       #title, #subtitle {
			position: relative;
			text-align: center;
			font-weight: bolder;
			color: black;
	       }
	   }
	}    
	    
   }
	
}

