@import "functions";

/* Typo */
body, .navbar .brand {
	font-family: Lato,'sans-serif';
	font-weight: bold;
}

/* Style */
body {
	background-image:url('../images/bg.png');
	
/* 	#content { */
/* 		width: 100%; */
/* 		margin-right: 0; */
/* 		margin-left: 0; */
/* 	} */
	
	#mapDiv {
		background-color: transparent;
		.opacity(1);
		position: relative;
		#map {
			max-height: 100%;
			margin: 0 auto;			
		}
		
		#car {
			position: absolute;
			&.centre {
				.position(423px, 330px);
			}
		}
	}
	
	#videoDiv {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: table;
		
		.opacity(0);
	
		#videoContent {
			display: table-cell;
			vertical-align: middle;
			z-index: 1029;
			background-color: black;
			
			#videoWrapper {
				margin-left: auto;
				margin-right: auto;
				display: table;
			
				#video {
					max-width: 100%;
				}
				#ko {
					margin-left: 1%;
				}
			}
		}	
	}
	

   
   #popupDiv {    
	    #popup {
	    	position: relative;
			background-color: black;
			z-index: 100001;
			width: 67%;
			height: 75%;
			margin-top: -70%;
			margin-left: -100%;
			padding: 1% 0% 7% 0;
			       
	       #innerWhite {
	           position: relative;
	           background-color: white;
	           width: 97%;
	           height: 86.5%;
	           padding: 5% 0 15% 0;
	           margin: auto;
	           .border-radius;
	           
	           #innerBlack {
	               position: relative;
	               background-color: black;
	               width: 81.5%;
	               height: 69%;
	               margin-left: 9.25%;
	               .border-radius;
	               
	               #photo {
	               	width: 96%;
	               	height: 94%;
					margin: 2% 2%;
	               }
	           }
	       }
	       
	       #ko {
	       	position: relative;
			margin-top: -4%;
			margin-left: 8.5%;
	       }
	       
	       #ok {
			position: relative;
			margin-top: -14%;
			margin-left: 79.5%;
	       }
	       
	       #title, #subtitle {
			position: relative;
			text-align: center;
			width: 100%;
	       }
	       
	       #title {
	       	font-size: 3em;
	       	margin-top: -23%;
	       }
	       
	       #subtitle {
	        font-size: 1.5em;
	       }
	   }
   }
	
}

